@font-face {
	font-family: 'Roboto';
	src: url('./Roboto-Regular.ttf'), url('./Roboto-Bold.ttf'),
		url('./Roboto-LightItalic.ttf');
}

html {
	background-color: #2d3142;
	color: #fdfffc;
	font-family: Roboto;
	display: grid;
	grid-template-areas:
		'. . .'
		'. main .'
		'. . . ';
}

body {
	grid-area: main;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		'. . .'
		'sidebar task-panel details-panel'
		'. . . ';
	background-color: #2d3142;
	height: 98vh;
	border-radius: 1em;
	gap: 1em;
	width: max-content;
	align-self: center;
	justify-self: center;
}

h3 {
	text-align: center;
}

#sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-area: sidebar;
	background-color: #3e88a3;
	height: 60vh;
	border-radius: 1em;
	padding: 0.2em 1em 0.1em 1em;
	box-shadow: 1px 1px 2px black;
	margin: 1.5em 1em;
}

button {
	background-color: #ffb347;
	border: 0px solid #a54657;
	color: #2d3142;
	border-radius: 1em;
	cursor: pointer;
}
.small-btn {
	border-radius: 50%;
	width: 2em;
	height: 2em;
	font-size: 0.8em;
	padding: 0;
}
textarea,
input,
select {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #fdfffc;
	border-radius: 1em;
	padding: 0.3em 1em;
	color: #fdfffc;
	outline: none;
	height: 1.7em;
	margin: 0.5em;
	resize: none;
}

option {
	background-color: #3e88a3;
}

::placeholder {
	color: #fdfffc9c;
	opacity: 1; /* Firefox */
}

input:focus::placeholder {
	color: transparent;
}
#create-task-btn {
	height: 2em;
	width: 50%;
	margin: -1em 5em 1.2em 5em;
}

/* duplicate css code. must create class for buttons */
#edit-task-btn {
	height: 2em;
	padding: 0 1.5em 0 1.5em;
}

.pop-up {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: max-content;
	width: 20em;
	background-color: #3e88a3;
	border-radius: 1em;
	padding: 1em 1em 1.5em 2em;
	box-shadow: 1px 1px 2px black;
}

.errors {
	font-weight: bold;
	color: #ffb347;
	margin-bottom: 1em;
}
.quick-add-errors {
	font-weight: bold;
	color: #ffb347;
	height: 1.5em;
	margin: 0;
	padding: 0;
	position: relative;
	left: 1em;
}
#new-project-input,
#quick-add-input {
	margin-bottom: 0.3em;
}
#edit-project-popup {
	display: none;
}
.pop-up-input {
	width: 80%;
	height: 2em;
	border-radius: 1em;
}

#pop-up-description-input {
	height: 6em;
}
#pop-up-priority-input {
	display: flex;
	justify-content: space-around;
	border: 1px solid #fdfffc;
	width: 88%;
	margin-left: 0.4em;
	border-radius: 0.8em;
}

.priority-label {
	position: relative;
	bottom: 5px;
}
.pop-up-btns {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	width: 90%;
}

.pop-up-btn {
	padding: 0.4em 1em;
}

.panel {
	height: 60vh;
	background-color: #a54657;
	margin: 1.5em 0;
	padding: 0.2em 1em 0.1em 1em;
	border-radius: 1em;
	width: 20em;
	box-shadow: 1px 1px 2px black;
}

#task-panel {
	grid-area: task-panel;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 16em;
}
#task-details-list,
#task-list,
#project-list {
	overflow: auto;
	margin-bottom: auto;
	margin-right: -0.3em;
	padding-right: 0.3em;
}

#task-details-list {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.task-card {
	display: flex;
	justify-content: space-between;
	box-shadow: 0 3px 0 0 #fdfffc4b;
	margin-bottom: 1em;
	border-radius: 1em;
	height: 1.7em;
	align-items: center;
}
.project-card {
	display: flex;
	justify-content: space-between;
	box-shadow: 0 3px 0 0 #fdfffc4b;
	margin-bottom: 1em;
	border-radius: 1em;
	height: 1.7em;
	align-items: center;
}

.priority-1 {
	box-shadow: 0 3px 0 0 rgba(0, 128, 0, 0.349);
}
.priority-2 {
	box-shadow: 0 3px 0 0 #ffb2478e;
}
.priority-3 {
	box-shadow: 0 3px 0 0 rgba(141, 0, 0, 0.534);
}

.task-done {
	background-color: #834c56;
	text-decoration: line-through;
}

.task-card:hover {
	background-color: #b65466;
}

.panel-title {
	margin: 1em 0.7em 0.7em 0.7em;
}

.project-card:hover {
	background-color: #579cb6;
}

#details-panel-wrapper {
	grid-area: details-panel;

	width: 20em;
}
#details-panel {
	display: none;
	text-align: center;
}
#internal-details-panel {
	display: flex;
	flex-direction: column;
	max-height: 100%;
}

::-webkit-scrollbar {
	width: 0.3em;
}
::-webkit-scrollbar-track {
	background: #2d314249;
	border-radius: 1em;
	position: relative;
	left: 1em;
}
::-webkit-scrollbar-thumb {
	background: #ffb855;
	border-radius: 1em;
}

::-webkit-scrollbar-thumb:active {
	background: #ffab36;
}

@media (max-width: 1000px) {
	body {
		grid-template-areas:
			'sidebar sidebar task-panel task-panel'
			'. details-panel details-panel .  ';
		gap: 0;
	}
	.panel {
		height: 40vh;
		max-height: max-content;
	}
	#sidebar {
		height: 40vh;
		max-height: max-content;
	}
}

@media (max-width: 635px) {
	body {
		grid-template-areas:
			'sidebar'
			'task-panel'
			' details-panel ';
		gap: 0;
	}
	.panel {
		height: max-content;
		max-width: 16em;
		max-height: 25em;
		margin: 1em 0;
	}
	#sidebar {
		height: max-content;
		margin: 1em 0;
		max-height: 25em;
	}
}
