html {
	background-color: #2d3142;
	color: #fdfffc;
}
body {
	display: grid;
	grid-auto-columns: minmax(14em, 17em) 1fr;
	grid-template-areas: 'sidebar main ';
}

h3 {
	text-align: center;
}
#sidebar {
	display: flex;
	flex-direction: column;
	grid-area: sidebar;
	background-color: #3e88a3;
	height: 100vh;
	border-radius: 1em;
	margin-right: 1em;
}

button {
	background-color: #ffb347;
	border: 2px solid #a54657;
	color: #2d3142;
	border-radius: 1em;
	cursor: pointer;
}

input {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #fdfffc;
	border-radius: 1em;
	padding: 0.3em;
	color: #fdfffc;
	outline: none;
	text-align: center;
}

::placeholder {
	color: #fdfffc9c;
	opacity: 1; /* Firefox */
}

input:focus::placeholder {
	color: transparent;
}
#create-task-btn {
	margin: 1em;
	height: 2em;
}

#new-task-popup {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 20em;
	width: 20em;
	background-color: rgb(58, 58, 58);
}

.pop-up-input {
	display: block;
}
main {
	grid-area: main;
	display: grid;
	grid-template-rows: 2fr 1fr;
	grid-template-columns: minmax(20em, 25em) minmax(22em, 25em) auto;
	grid-template-areas:
		'. . .'
		'task-panel details-panel .';
	background-color: #2d3142;
	height: 100vh;
	margin: 0;
	border-radius: 1em;
}

.panel {
	height: 70vh;
	background-color: #a54657;
	margin: 1.5em;
	padding: 1em;
	border-radius: 1em;
}

#task-panel {
	grid-area: task-panel;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 0;
	margin-left: 1em;
}

.task-card {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	border-radius: 1em;
	border: 0px solid #fdfffc;
	height: 2em;
	align-items: center;
}

/* it works if I add the class from the dev tool but doesn't work with classList.add */
.task-card.task-done {
	background-color: gray;
}

.task-card:hover {
	background-color: #b65466;
}
#quick-add,
#new-project {
	margin: 0 auto;
}

#details-panel {
	grid-area: details-panel;
	text-align: center;
}
