@font-face {
	font-family: 'Roboto';
	src: url('./Roboto-Regular.ttf'), url('./Roboto-Bold.ttf'),
		url('./Roboto-LightItalic.ttf');
}

html {
	background-color: #2d3142;
	color: #fdfffc;
	font-family: Roboto;
	display: grid;
	grid-template-areas:
		'. . .'
		'. main .'
		'. . . ';
}

body {
	grid-area: main;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		'. . .'
		'sidebar task-panel details-panel'
		'. . . ';
	background-color: #2d3142;
	height: 100vh;
	border-radius: 1em;
	gap: 1em;
	width: max-content;
	align-self: center;
	justify-self: center;
}

h3 {
	text-align: center;
}

#sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-area: sidebar;
	background-color: #3e88a3;
	height: 60vh;
	border-radius: 1em;
	padding: 1em 0.7em 1em 0.5em;
	box-shadow: 1px 1px 2px black;
	margin: 1.5em 1em;
}

#project-list {
	margin-bottom: auto;
}
/* 
padding: 1em;
box-shadow: 1px 1px 2px black; */

button {
	background-color: #ffb347;
	border: 0px solid #a54657;
	color: #2d3142;
	border-radius: 1em;
	cursor: pointer;
}
.small-btn {
	border-radius: 50%;
	width: 2em;
	height: 2em;
	font-size: 0.8em;
	padding: 0;
}

input,
select {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #fdfffc;
	border-radius: 1em;
	padding: 0.3em 1em;
	color: #fdfffc;
	outline: none;
	height: 1.7em;
	margin: 0.5em;
}

option {
	background-color: #3e88a3;
}

::placeholder {
	color: #fdfffc9c;
	opacity: 1; /* Firefox */
}

input:focus::placeholder {
	color: transparent;
}
#create-task-btn {
	height: 2em;
	width: 50%;
	margin: 0 5em 1.2em 5em;
}

#new-task-popup {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 20em;
	width: 20em;
	background-color: #3e88a3;
	border-radius: 1em;
	padding: 1em 1em 4em 2em;
	box-shadow: 1px 1px 2px black;
}

.pop-up-input {
	width: 80%;
	height: 2em;
	border-radius: 1em;
}

#pop-up-priority-input {
	display: flex;
	justify-content: space-around;
	border: 1px solid #fdfffc;
	width: 88%;
	margin-left: 0.4em;
	border-radius: 0.8em;
}

#full-add-btns {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	width: 90%;
}

.pop-up-btn {
	padding: 0.4em 1em;
}

.panel {
	height: 60vh;
	background-color: #a54657;
	margin: 1.5em 0;
	padding: 1em;
	border-radius: 1em;
	width: 20em;
	box-shadow: 1px 1px 2px black;
}

#task-panel {
	grid-area: task-panel;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 16em;
}

.task-card {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	border-radius: 1em;
	height: 2em;
	align-items: center;
}

/* it works if I add the class from the dev tool but doesn't work with classList.add */
.task-card.task-done {
	background-color: gray;
}

.task-card:hover {
	background-color: #b65466;
}

.project-card {
	display: flex;
	justify-content: space-between;
	margin: 0 auto 1em auto;
	border-radius: 1em;
	height: 2em;
	width: 80%;
	padding: 0.2em 0.5em 0em 0.5em;
}

.project-title {
	margin: 0;
}

.project-card:hover {
	background-color: #579cb6;
}
#quick-add,
#new-project {
	margin: 0 auto;
	white-space: nowrap;
}

#details-panel {
	grid-area: details-panel;
	text-align: center;
}

@media (max-width: 1000px) {
	body {
		grid-template-areas:
			'sidebar sidebar task-panel task-panel'
			'. details-panel details-panel .  ';
		gap: 0;
	}
	.panel {
		height: 40vh;
		max-height: max-content;
	}
	#sidebar {
		height: 40vh;
		max-height: max-content;
	}
}

@media (max-width: 635px) {
	body {
		grid-template-areas:
			'sidebar'
			'task-panel'
			' details-panel ';
		gap: 0;
	}
	.panel {
		height: max-content;
		max-width: 16em;
		margin: 1em 0;
	}
	#sidebar {
		height: max-content;
		margin: 1em 0;
	}
}
